
@{
    ViewBag.Title = "Person Group";
}

<div ng-controller="personGroupCtrl">
    <h3>Cortana Intelligence Suite</h3>
    <p>A person group is a collection of people, and each person is defined within a particular person group.</p>
    <h3>{{Title}}</h3>
    <p>First, we need to create a new person group. This is executed by using the Person Group - Create a Person Group API.</p>
    @*<ul>
        <li>@Html.ActionLink("Face Detection", "", "FaceDetection")</li>
    </ul>*@
</div>
@section NgScript{
    <script src="~/ScriptsNg/PersonGroupCtrl.js"></script>
}




